/* 3. PRODUTO (Desceu um pouco para dar respiro da palavra PRODUTO) */
    .previewProduct {
      position: absolute !important;
      top: 73.2% !important;
      bottom: auto !important;
      left: 0 !important;
      width: 100% !important;
      text-align: center !important;
      z-index: 10 !important;
      font-size: 1.25rem !important;
      font-weight: 900 !important;
      color: #ffffff !important;
      text-shadow: 2px 2px 4px #000000 !important;
      letter-spacing: 0.5px !important;
    }

    /* 4. VALOR / PREÇO (Desceu um pouquinho para cravar na linha do R$) */
    .previewPrice {
      position: absolute !important;
      top: 77.3% !important;
      bottom: auto !important;
      left: 48% !important;
      width: 48% !important;
      text-align: left !important;
      z-index: 10 !important;
      font-size: 1.4rem !important;
      font-weight: 900 !important;
      color: #111111 !important;
      text-shadow: none !important;
      line-height: 1 !important;
      margin: 0 !important;
    }
